body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

.dialogue-box {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 10px;
  border-radius: .5rem;
}

.avatar-container {
  height: 100%;
  margin-right: 20px;
  display: none;
}

.avatar-container .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: .5rem;
  border: 1px solid #777;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto 3px auto;
}

.avatar-container img {
  max-width: 40px;
}

.avatar-container span {
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
}

.message-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}

.message-container p {
  margin: 0;
  margin-right: 6px;
  font-size: 14px;
  line-height: 18px;
}

.pagination-container {

}

.pagination-container span {
  padding-right: 10px;
  font-size: 0.8em;
  color: #DDD;
  display: none;
}

.pagination-container button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.pagination-container button.next {
  border: 1px solid #DDD;
  background-color: transparent;
  color: #DDD;
}

.pagination-container button.next:hover {
  border: 1px solid rgb(86, 234, 255);
  color: rgb(86, 234, 255);
}

.pagination-container button.close {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
}

.pagination-container button.close:hover {
  filter: brightness(110%);
}